@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">WELCOME TO DEEN HOSPITAL</h1>
        <br />
        <h2>Hospital Management Record</h2>
    </div>
